@import '../assets/main.less';

.root {
    display: flex;
    justify-content: center;
    background: url("../../public/static/img/lessons_bg.png") no-repeat @default-bg-color;
    background-size: 100% auto;
    width: 100%;
    height: 100%;
    margin-top: 50px;
}

.lessons {
    min-width: 580px;
    color: @main-text-color;
}