.root {
    width: 100%;
}

.spinnerContainer {
    text-align: center;
    text-transform: uppercase;
    width: 100px;
    margin: 300px auto;
}

.spinner {
    text-align: center;
    width: 100%;
    margin: 5px auto;
}
