@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');

/*
* Color definitions
*/
@main-text-color: #FFFFFF;
@alternate-text-color: #EF5350;

@default-bg-color: #313246;
@total-score-bg-color: #05161C;

/*
* Global rules
*/
* {
    box-sizing: border-box;
    font-family: Share Tech Mono, Roboto, sans-serif;
    font-weight: 300;
}

body {
    background-color: @default-bg-color;
}
